/*
  Use the following to include this css file
  <link rel="stylesheet" href="styles.css" />
*/
h1 {
  color: red;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  text-align: center;
}
p {
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  text-align: center;
}
.article {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
body {
  background-image: url('Vaporwave.jpg');
  background-size: cover;
}
a {
  color: gree;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  text-decoration: none;
}
li {
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  text-align: center;
}
iframe {
  border: none;
  width: 100%;
  height: 500px;
}